/* Main Stylesheet */
.icon-select{
    position: fixed;
    background-color: white;
    width: 90px;
    height: 90px;
    bottom: 0;
    left: 0;
    z-index: 3;
    border:1px solid #131313;
}

.panel{
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}

.titleblock{
    background-color: red;
    padding-left: 4px;
    height: 70vh;
    width: auto;
    padding-top: 30vh;
    margin-left: 50%;
}

#btitle{
    margin: 0;
}

#btitle h1{
    font-size: calc(3vh + 8vw);
}

#ltitle{

}

#stitle{

}

#longquote h3{
    font-size: calc(2vh + 6vw);
}

#longquote h2{
    font-size: calc(2vh + 8vw);
}

.aboutcontainer{
    background-color: grey;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

.wrapper{
    height: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#lh2{
    font-size: calc(5vh + 5vw);
    margin-top: -4%;
}

h1{
    font-size: calc(10px + (100 - 10) * ((100vw - 150px) / (1600 - 150)));
    margin: 0;
    overflow: hidden;
}

h2{
    margin: 0;
    width: 98%;
    padding-left: 2%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: left;
    font-size: calc(2vh + (100 - 15) * ((100vw - 150px) / (1600 - 150)));
    background-color: orange;
    overflow: hidden;
}

h3{
    text-align: left;
    margin: 0;
    min-width: 100px;
    position: absolute;
    top: calc(4.5vh + (13px + (100 - 13) * ((100vw - 150px) / (2000 - 150))));
    width: 90%;
    color: white;
    background-color: red;
    max-height: 100%;
    font-size: calc(13px + (100 - 13) * ((100vw - 150px) / (2000 - 150)));
    overflow: scroll;
}

h4{
    font-size: calc(8px + (70 - 8) * ((100vw - 150px) / (1600 - 150)));
    margin: 0
}

h5{
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: 0;
    font-size: calc(8px + (70 - 8) * ((100vw - 150px) / (1600 - 150)));
}

h6{
    margin: 0;
    width: 80%;
    position: absolute;
    bottom: 4vh;
    color: black;
    text-align: center;
    /*font-size: 3vw;*/
    font-size: calc(2vw + 1vh);
    background-color: white;
}
.card{
    background-color: black;/**/
    width: 25%;
    height: 60%;
    position: absolute;
}

.cardlong{
    width: 90%;
    height: 20vh;
    background-color: white;
    margin-top: 3%;
    margin-left: 5%;
    bottom: 0;
    position: relative;
}

.hvr{
    width: 100%;
    height: 0%;
    position: absolute;
    z-index: 2;
    background-color: pink;
}

.card:hover .hvr {
    height: 100%;
    -webkit-transition: all 0.8s, -webkit-transform 0.8s;
    transition: all 0.8s, transform 0.8s;
}

.link{
    width: 45%;
    height: 13%;
    background-color: grey;
    bottom: 10%;
    align-content: center;
    vertical-align: center;
    position: absolute;
    bottom: 20%;
}

.link p{
    margin: 0;
    max-height: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption{
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
}

#wdL{
    width: 45%;
    height: 60%;
    left:4%;
}

#wdR{
    width: 45%;
    height: 60%;
    margin-right:0;
    right: 4%;
}

#wdT{
    height: 25vh;
}

#wdB{
    height: 25vh;
}

#shrt{
    height: 50%;
}

#triR{
    margin-right:0;
    right: 4%;
}

#triM{
    width: 35%;
}

#triL{
    left:4%;
}

.sectionhead{
    width: 100%;
    height: 10vh;

}

.about{
    width: 100%;
    height: 80vh;
    position: absolute;
    margin-bottom: 8vh;
    margin-top: 12vh;
    background-color: green;
}

body{
    padding: 0;
    margin: 0;
}
