/* Main Stylesheet */
<<<<<<< HEAD
*{
    font-family: 'Libre Franklin', sans-serif;
}

=======
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
.icon-select{
    position: fixed;
    background-color: white;
    width: 90px;
    height: 90px;
    bottom: 0;
    left: 0;
    z-index: 3;
    border:1px solid #131313;
}

.panel{
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}

.titleblock{
    background-color: red;
<<<<<<< HEAD
=======
    margin-left: 50%;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    padding-left: 4px;
    height: 70vh;
    width: auto;
    padding-top: 30vh;
<<<<<<< HEAD
    margin-left: 50%;
}

#btitle{
    margin: 0;
}

#longquote{
    height: 80%;
}

#longquote h3{
    font-size: calc(2vh + 5vw);
}

#longquote h2{
    font-size: calc(2vh + 8vw);
=======
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

.aboutcontainer{
    background-color: grey;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

.wrapper{
<<<<<<< HEAD
    height: 75%;
    text-align: center;
    position: relative;
=======
    height: 100%;
    text-align: center;
    position: absolute;
}

#flx{
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
#lh2{
    font-size: calc(5vh + 5vw);
    margin-top: -4%;
}

h1{
    font-size: calc(4vh + 4vw);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    max-height: calc(2.6vh + 8vw);
    overflow: hidden;
=======
h1{
    font-size: calc(10px + (100 - 10) * ((100vw - 150px) / (1600 - 150)));
    margin: 0;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

h2{
    margin: 0;
    width: 98%;
    padding-left: 2%;
<<<<<<< HEAD
    position: relative;
=======
    position: absolute;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    top: 0;
    left: 0;
    color: white;
    text-align: left;
<<<<<<< HEAD
    font-size: calc(6vh + 3vw);
    background-color: orange;
    overflow: hidden;
=======
    font-size: calc(15px + (100 - 15) * ((100vw - 150px) / (1600 - 150)));
    background-color: orange;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

h3{
    text-align: left;
    margin: 0;
    min-width: 100px;
    position: absolute;
<<<<<<< HEAD
    top: 0;
=======
    top: calc(4.5vh + (13px + (100 - 13) * ((100vw - 150px) / (2000 - 150))));
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    width: 90%;
    color: white;
    background-color: red;
    max-height: 100%;
<<<<<<< HEAD
    font-size: calc(5vh + 2vw);
=======
    font-size: calc(13px + (100 - 13) * ((100vw - 150px) / (2000 - 150)));
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    overflow: scroll;
}

h4{
<<<<<<< HEAD
    font-size: calc(3vw + 0.5vh);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -1%;
=======
    font-size: calc(8px + (70 - 8) * ((100vw - 150px) / (1600 - 150)));
    margin: 0
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

h5{
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: 0;
<<<<<<< HEAD
    font-size: calc(2vh + 3vw);
=======
    font-size: calc(8px + (70 - 8) * ((100vw - 150px) / (1600 - 150)));
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

h6{
    margin: 0;
<<<<<<< HEAD
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
    top: -3%;
    color: black;
    text-align: center;
    /*font-size: 3vw;*/
    font-size: calc(2vw + 1vh);
=======
    width: 80%;
    position: absolute;
    bottom: 4vh;
    color: black;
    text-align: center;
    /*font-size: 3vw;*/
    font-size: calc(8px + (100 - 8) * ((100vw - 150px) / (5500 - 150)));
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
    background-color: white;
}
.card{
    background-color: black;/**/
    width: 25%;
<<<<<<< HEAD
    height: 80%;
    position: relative;
=======
    height: 60%;
    position: absolute;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

.cardlong{
    width: 90%;
<<<<<<< HEAD
    height: 20vh;
    background-color: white;
    margin-top: 3%;
    margin-left: 5%;
    bottom: 0;
    position: relative;
    background-color: grey;
=======
    height: 20%;
    background-color: white;
    position: absolute;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

.hvr{
    width: 100%;
    height: 0%;
    position: absolute;
    z-index: 2;
    background-color: pink;
}

.card:hover .hvr {
    height: 100%;
    -webkit-transition: all 0.8s, -webkit-transform 0.8s;
    transition: all 0.8s, transform 0.8s;
}

.link{
    width: 45%;
    height: 13%;
    background-color: grey;
    bottom: 10%;
    align-content: center;
    vertical-align: center;
    position: absolute;
    bottom: 20%;
}

.link p{
    margin: 0;
    max-height: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption{
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
}

<<<<<<< HEAD
#wdL{
    width: 40%;
    height: 80%;
    margin: 0;
    float: left;
    right: 2%;
}

#wdR{
    width: 40%;
    height: 80%;
    margin-right: 0;
    float: right;
    left: 2%;
}

#wdT{
    height: 25vh;
}

#wdB{
    height: 25vh;
=======
#wd{
    width: 45%;
    height: 60%;
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
}

#shrt{
    height: 50%;
}

<<<<<<< HEAD
#triR{
    margin-right:0;
    left: 3%;
}

#triM{
    width: 35%;
}

#triL{
    right:3%;
}

=======
>>>>>>> 538b4cf0fc319c53145a5d004569d749ede9388f
.sectionhead{
    width: 100%;
    height: 10vh;

}

.about{
    width: 100%;
    height: 80vh;
    position: absolute;
    margin-bottom: 8vh;
    margin-top: 12vh;
    background-color: green;
}

body{
    padding: 0;
    margin: 0;
}
