.projectimg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: block;
}

.panel::before{
    height: 150vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    display: inline-block;
    top: 0;
    z-index: -2;
}

.frame{
    margin: auto;
    display: flex;
    margin-right: 0;
    height: 100%;
    background-color: rgb(0,0,0,.8);
    width: 60vw;
    max-width: 100vh;
    overflow: hidden;
}

.textbox p{
    margin: auto;
    font-size: calc(1.3vmin + 1.3vmax);
}

.textbox{
    width: 94%;
    background-color: rgba(255, 255, 255, 0.65);
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    display: flex;
}

.holds{
    display: inline-block;
}

.overscroll{
    height: 50vh;
    width: 100vw;
    position: relative;
    top: -50vh;
}

.mobile .panel{
    display: block;
}

.mobile .panel span{
    width: 100%;
}

.mobile .panel .textbox{
    display: block;
    padding: 20px;
}

.mobile .panel .textbox p{
    font-size: calc(2vmin + 2vmax);
}

.mobile .panel span .frame{
    width: 80vw;
    margin: 0 auto;
    background-color: rgb(0,0,0,0);
}

.mobile .panel span .frame img{
    max-height: 40vh;
    width: auto;
}

.mobile .panel #image-fade-left{
    background-color: rgb(0,0,0,.8);
}

.mobile .panel #image-fade-left{
    background-color: rgb(0,0,0,.8);
}

#invis {
    display: none;
    background-color: rgb(0,0,0,.8);
}

.mobile .panel #invis{
    display: block;
}
